<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>642239477254-otq68jm5paqvq77n2pne599086ind88v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642239477254-otq68jm5paqvq77n2pne599086ind88v</string>
	<key>API_KEY</key>
	<string>AIzaSyDHv2mb9kh22xTf4MtUEQDHw1qQeCac79Q</string>
	<key>GCM_SENDER_ID</key>
	<string>642239477254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fotonical.Smart-Hommie</string>
	<key>PROJECT_ID</key>
	<string>smart-hommie</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-hommie.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642239477254:ios:a2a2545bcd1ecec9d87587</string>
	<key>DATABASE_URL</key>
	<string>https://smart-hommie-default-rtdb.firebaseio.com</string>
</dict>
</plist>